{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [1, "single"],
    "comma-dangle": true,
    "no-multi-spaces": false
  }
}
